footer{
    display:flex;
    flex-direction: row;
    margin-top: 1.5rem;
    width: 100%;
    background-color: #EEEEEE;
    padding: 1.875rem;
    white-space: nowrap;

.left{
    width:50%;
    .copyright {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    .contact{
        margin-left: 1.5rem;
        font-weight: normal;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    a{
        color:black;
        font-weight:bold;
        margin-left: 1.5rem;

    }
}

.right{
    width: 50%;
    align-items: flex-end;
    margin-left: 1.5rem;
}
.opening-hours{
    line-height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;

}
.appointments{
    font-size: 1rem;
    white-space: normal;
}
}

@media only screen and (max-width: 600px) {
    footer{
        flex-direction: column; 
   }
   iframe{
    width: 68vw !important;
}
  }
  

  iframe{
      width: 46vw;
  }