<footer>
    <div class="left">
        <div class="copyright">
            Lucas Idk, 2021 &copy; <br>
            Blank Tattoostudio
        </div>
        <div class="contact">Ottostraße 7 <br>
            31137 Hildesheim <br>
            Germany<br>

            info@junkietattoos.com
        </div>
        <p>
        <a [routerLink]="['./imprint.component.ts']">Impressum</a>
        <a [routerLink]="['./copyright.component.ts']">Datenschutz</a>
        </p>
    </div>
    <div class="right">
        <p class="opening-hours">Öffnungszeiten / Opening hours </p>
        <p class="appointments">Termine / Beratungsgespräche nur auf Anfrage.<br>
        Appointments / consultation only by request . </p>
        <p>
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    </p>
    </div>

</footer>