<!DOCTYPE html>
<footer>

    <div class="left">
        <div class="copyright">
            {{'FOOTER.COPYRIGHT.TITLE' | translate}}&copy; <br>
            {{'FOOTER.COPYRIGHT.LOCATION' | translate}}
        </div>
        <div class="contact">{{'FOOTER.CONTACT.STREET' | translate}} <br>
            {{'FOOTER.CONTACT.PLACE' | translate}}<br>
            {{'FOOTER.CONTACT.COUNTRY' | translate}}<br>
            {{'FOOTER.CONTACT.EMAIL' | translate}}
        </div>
        <p id="links">
        <a  routerLink="/imprint"  routerLinkActive="active">{{'FOOTER.IMPRINT.TITLE_IMPRINT' | translate}}</a> <br>
        <a  routerLink="/copyright"  routerLinkActive="active">{{'FOOTER.IMPRINT.TITLE_DATA' | translate}}</a>
        </p>
    </div>
    <div class="right">
        <p class="opening-hours">{{'FOOTER.INFO.OPENING' | translate}}</p>
        <p class="appointments">{{'FOOTER.INFO.APPOINTMENTS' | translate}}        <p>
    </p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1223.72065152018!2d9.954439563672823!3d52.16266946757272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47baaf413dee25ad%3A0x4d65e8b16c63b00a!2sb%20l%20a%20n%20k%20%E2%80%93%20Tattoo%20Studio!5e0!3m2!1sde!2sde!4v1636812115588!5m2!1sde!2sde" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</footer>