<footer>
    <div class="left">
        <div class="copyright">
            {{'FOOTER.COPYRIGHT.TITLE' | translate}}&copy; <br>
            {{'FOOTER.COPYRIGHT.LOCATION' | translate}}
        </div>
        <div class="contact">{{'FOOTER.CONTACT.STREET' | translate}} <br>
            {{'FOOTER.CONTACT.PLACE' | translate}}<br>
            {{'FOOTER.CONTACT.COUNTRY' | translate}}<br>
            {{'FOOTER.CONTACT.EMAIL' | translate}}
        </div>
        <p id="links">
        <a  routerLink="/imprint"  routerLinkActive="active">{{'FOOTER.IMPRINT.TITLE_IMPRINT' | translate}}</a> <br>
        <a  routerLink="/copyright"  routerLinkActive="active">{{'FOOTER.IMPRINT.TITLE_DATA' | translate}}</a>
        </p>
    </div>
    <div class="right">
        <p class="opening-hours">{{'FOOTER.INFO.OPENING' | translate}}</p>
        <p class="appointments">{{'FOOTER.INFO.APPOINTMENTS' | translate}}        <p>
    </p>
    </div>

</footer>