<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input id="name" type="text" formControlName="Pronouns"><br>
    <input id="name" type="text" formControlName="PreName"><br>

    <input id="name" type="text" formControlName="LastName"><br>

    <input id="name" type="text" formControlName="Email"><br>

    <input id="name" type="text" formControlName="Instagram"><br>

    <input id="name" type="text" formControlName="Phone"><br>

    <input id="name" type="text" formControlName="Description"><br>

<br>
    <div *ngFor="let data of bodyParts">
      <input
        type="checkbox"
        (change)="onChangeBodyPart(data.bodyPart, $event.target.checked)"
      />
      {{ data.bodyPart }}<br />
    </div>
    <br>
    <br>
    <input id="name" type="radio" formControlName="DesignType" value="Flash">
    <span>Flash</span>
    <input id="name" type="radio" formControlName="DesignType" value="Custom">
    <span>Custom</span>
    <input id="name" type="radio" formControlName="DesignType" value="Nicht bekannt">
    <span>Nicht bekannt</span>
    <br><br><br>
    <div *ngFor="let data of days">
        <input
          type="checkbox"
          (change)="onChangeDays(data.day, $event.target.checked)"
        />
        {{ data.day }}<br />
      </div>
      <br><br><br>
      <div *ngFor="let data of times">
          <input
            type="checkbox"
            (change)="onChangeTimes(data.time, $event.target.checked)"
          />
          {{ data.time }}<br />
        </div>
        <br><br><br>
        <div *ngFor="let data of options">
            <input
              type="checkbox"
              (change)="onChangeOptions(data.option, $event.target.checked)"
            />
            {{ data.option }}<br />
          </div>
      <br><br><br>
    <button class="button" type="submit">Purchase</button>
  </form>

  <pre>Form values: {{ myForm.value | json }}</pre>
