<body>
  <div class="container-lg main-container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <img src="assets/img/logo.jpg" alt="Junkie Tattoos Logo">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>{{'CONTACT.APPOINTMENT_REQUEST' | translate}}</h1>
      </div>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="px-0">
      <div class="row">
        <div class="col-sm-12 col-md-2">
          <div class="mb-3">
            <label class="form-label" for="Pronouns">{{'CONTACT.PRONOUNS' | translate}}</label>
            <input id="Pronouns" type="text" formControlName="pronouns" class="full" name="name">
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="mb-3">
            <label class="form-label" for="prename">{{'CONTACT.FIRST_NAME' | translate}}</label>
            <input id="prename" type="text" formControlName="firstname" class="full" name="email">
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="mb-3">
            <label class="form-label" for="lastname">{{'CONTACT.LAST_NAME' | translate}}</label>
            <input id="lastname" type="text" formControlName="lastname" class="full">
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="mb-3">
            <label class="form-label" for="Email">{{'CONTACT.EMAIL' | translate}}</label>
            <input id="email" type="text" formControlName="email" class="full">
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="mb-3">
            <label class="form-label" for="Instagram">{{'CONTACT.INSTAGRAM' | translate}}</label>
            <input id="name" type="text" formControlName="instagram" class="full">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label" for="phone">{{'CONTACT.PHONE' | translate}}</label>
            <input id="name" type="text" formControlName="phonenumber" class="full">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <input type="file" accept="image/*" formControlName="image" class="full" />
            <small class="form-text text-muted">{{'CONTACT.UPLOAD_SIZE' | translate}}</small>
          </div>
        </div>
        <!-- Validierung    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
    -->
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label" for="Description">{{'CONTACT.DESCRIPTION' | translate}}</label>
            <input id="name" type="textarea" formControlName="description" class="item" class="full">
          </div>
        </div>

        <div class="col-12">
          <div class="mb-3">
            <div *ngFor="let data of bodyparts" class="item">
              <input type="checkbox" (change)="onChangeBodyPart(data.bodypart, $event.target.checked)" />
              {{ data.bodypart }}<br />
            </div>
          </div>
        </div>
        <div class="col-12">
          <input id="name" type="radio" formControlName="designtype" value="Flash" class="item">
          <span>{{'CONTACT.FLASH' | translate}}</span>
        </div>
        <div class="col-12">
          <input id="name" type="radio" formControlName="designtype" value="Custom" class="item">
          <span>{{'CONTACT.CUSTOM' | translate}}</span>
        </div>
        <div class="col-12">
          <input id="name" type="radio" formControlName="designtype" value="Nicht bekannt" class="item">
          <span>{{'CONTACT.UNKNOWN' | translate}}</span>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <div *ngFor="let data of days" class="item">
              <input type="checkbox" (change)="onChangeDays(data.preferredDay, $event.target.checked)" />
              {{ data.preferredDay }}<br />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-3">
            <input id="name" type="radio" formControlName="preferredTime" value="Vormittags" class="item">
          <span>{{'CONTACT.MORNING' | translate}}</span>
        </div>
        <div class="col-12">
          <input id="name" type="radio" formControlName="preferredTime" value="Mittag" class="item">
          <span>{{'CONTACT.NOON' | translate}}</span>
        </div>
        <div class="col-12">
          <input id="name" type="radio" formControlName="preferredTime" value="Nachmittag" class="item">
          <span>{{'CONTACT.AFTERNOON' | translate}}</span>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-3">
            <div *ngFor="let data of options" class="item">
              <input type="checkbox" (change)="onChangeOptions(data.projectInformation, $event.target.checked)" />
              {{ data.projectInformation }}<br />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label" for="returningCustomer">{{'CONTACT.RECURRING_CUSTOMER' | translate}}</label>
            <div class="mb-2">
              <small class="form-text text-muted">{{'CONTACT.DESIGN' | translate}}</small>
            </div>
            <input id="returningCustomer" type="text" formControlName="returningCustomer" class="item" />
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <input id="accepted" type="checkbox" class="item" >
            <span>
              {{'CONTACT.AGREE_1' | translate}}
            </span>
            <ul class="pl-1">
              <li class="fw-bold">  {{'CONTACT.AGREE_2' | translate}}</li>
              <li class="fw-bold">  {{'CONTACT.AGREE_3' | translate}}</li>
              <li class="fw-bold">  {{'CONTACT.AGREE_4' | translate}}</li>
            </ul>
          </div>
        </div>
     <button class="btn btn-dark" type="submit"  >  {{'CONTACT.SEND' | translate}}</button> 
      </div>
    </form>
  </div>
</body>
