

<div class="container">

    <form class="px-0">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <div class="mb-3">
                    <label class="form-label" for="pronouns">Pronomen</label> 
                    <input id="pronouns" class="form-control" type="text" name="pronouns" placeholder=""> 
                </div>
            </div> 
            <div class="col-sm-12 col-md-5">
                <div class="mb-3">
                    <label class="form-label" for="firstName">Vorname</label> 
                    <input id="firstName" class="form-control" type="text" name="firstName" placeholder=""> 
                </div>
            </div> 
            <div class="col-sm-12 col-md-5">
                <div class="mb-3">
                    <label class="form-label" for="lastName">Nachname</label> 
                    <input id="lastName" class="form-control" type="text" name="lastName" placeholder=""> 
                </div>
            </div> 
            <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="email">E-Mail</label> 
                    <input id="email" class="form-control" type="email" name="email" placeholder=""> 
                </div>
            </div> 
            <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="instagram">Instagram</label>
                     <div class="input-group">
                         <span class="input-group-text">@</span> 
                         <input id="instagram" class="form-control" type="text" name="instagram" placeholder=""> 
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label class="form-label" for="prephone">Vorwahl</label>
                    <select id="prephone" class="form-select" name="prephone"></select>
                </div>
            </div> 
            <div class="col-10">
                <div class="mb-3">
                    <label class="form-label" for="phone">Telefon</label>
                    <input id="phone" type="phone" class="form-control" name="phone" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="exampleImage">Beispielbild</label>
                    <input id="exampleImage" class="form-control" type="file" invalid="false" name="exampleImage" placeholder="" valid="false"> 
                    <small class="form-text text-muted">Maximal 10MB Uploadgröße</small>
                </div>
            </div> 
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="description">Beschreibung / Platzierung / Ungefähre Größe</label>
                    <textarea id="description" class="form-control" name="description" placeholder=""></textarea>
                 </div>
                </div>
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="bodyPart">Körperteil</label>
                    <div class="form-check">
                         <input placeholder="" class="form-check-input" id="Gesicht" type="checkbox" name="bodyPart[]" value="Gesicht">
                         <label class="form-check-label" for="Gesicht">Gesicht</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Hals" type="checkbox" name="bodyPart[]" value="Hals">
                        <label class="form-check-label" for="Hals">Hals</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Nacken" type="checkbox" name="bodyPart[]" value="Nacken">
                        <label class="form-check-label" for="Nacken">Nacken</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Brust" type="checkbox" name="bodyPart[]" value="Brust">
                        <label class="form-check-label" for="Brust">Brust</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Rippe (Oben, unter der Brust)" type="checkbox" name="bodyPart[]" value="Rippe (Oben, unter der Brust)">
                        <label class="form-check-label" for="Rippe (Oben, unter der Brust)">Rippe (Oben, unter der Brust)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Rippe (Mitte)" type="checkbox" name="bodyPart[]" value="Rippe (Mitte)">
                        <label class="form-check-label" for="Rippe (Mitte)">Rippe (Mitte)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Unterer Brust Bereich / Oberer Bauch / Underboob" type="checkbox" name="bodyPart[]" value="Unterer Brust Bereich / Oberer Bauch / Underboob">
                        <label class="form-check-label" for="Unterer Brust Bereich / Oberer Bauch / Underboob">Unterer Brust Bereich / Oberer Bauch / Underboob</label>
                    </div> 
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Bauch" type="checkbox" name="bodyPart[]" value="Bauch">
                        <label class="form-check-label" for="Bauch">Bauch</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Rücken (Gesamter Rücken)" type="checkbox" name="bodyPart[]" value="Rücken (Gesamter Rücken)">
                        <label class="form-check-label" for="Rücken (Gesamter Rücken)">Rücken (Gesamter Rücken)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Rücken (Oben)" type="checkbox" name="bodyPart[]" value="Rücken (Oben)">
                        <label class="form-check-label" for="Rücken (Oben)">Rücken (Oben)</label>
                    </div>
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Rücken (Unten)" type="checkbox" name="bodyPart[]" value="Rücken (Unten)">
                        <label class="form-check-label" for="Rücken (Unten)">Rücken (Unten)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Gesamter Arm / Full arm sleeve" type="checkbox" name="bodyPart[]" value="Gesamter Arm / Full arm sleeve">
                        <label class="form-check-label" for="Gesamter Arm / Full arm sleeve">Gesamter Arm / Full arm sleeve</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Oberarm (Biceps)" type="checkbox" name="bodyPart[]" value="Oberarm (Biceps)">
                        <label class="form-check-label" for="Oberarm (Biceps)">Oberarm (Biceps)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Oberarm (Triceps)" type="checkbox" name="bodyPart[]" value="Oberarm (Triceps)">
                        <label class="form-check-label" for="Oberarm (Triceps)">Oberarm (Triceps)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Oberarm (Innen)" type="checkbox" name="bodyPart[]" value="Oberarm (Innen)">
                        <label class="form-check-label" for="Oberarm (Innen)">Oberarm (Innen)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Oberarm (Außen)" type="checkbox" name="bodyPart[]" value="Oberarm (Außen)">
                        <label class="form-check-label" for="Oberarm (Außen)">Oberarm (Außen)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Unterarm (Innen)" type="checkbox" name="bodyPart[]" value="Unterarm (Innen)">
                        <label class="form-check-label" for="Unterarm (Innen)">Unterarm (Innen)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Unterarm (Außen)" type="checkbox" name="bodyPart[]" value="Unterarm (Außen)">
                        <label class="form-check-label" for="Unterarm (Außen)">Unterarm (Außen)</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Unterarm (Innen + Außen) / Half arm sleeve" type="checkbox" name="bodyPart[]" value="Unterarm (Innen + Außen) / Half arm sleeve">
                        <label class="form-check-label" for="Unterarm (Innen + Außen) / Half arm sleeve">Unterarm (Innen + Außen) / Half arm sleeve</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Hand (Rücken)" type="checkbox" name="bodyPart[]" value="Hand (Rücken)">
                        <label class="form-check-label" for="Hand (Rücken)">Hand (Rücken)</label>
                    </div> 
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Hand (Innenfläche)" type="checkbox" name="bodyPart[]" value="Hand (Innenfläche)">
                        <label class="form-check-label" for="Hand (Innenfläche)">Hand (Innenfläche)</label>
                    </div> 
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Gesäß / Po" type="checkbox" name="bodyPart[]" value="Gesäß / Po">
                        <label class="form-check-label" for="Gesäß / Po">Gesäß / Po</label>
                    </div> 
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Gesamtes Bein / Full leg sleeve" type="checkbox" name="bodyPart[]" value="Gesamtes Bein / Full leg sleeve">
                        <label class="form-check-label" for="Gesamtes Bein / Full leg sleeve">Gesamtes Bein / Full leg sleeve</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Oberschenkel (Vorne)" type="checkbox" name="bodyPart[]" value="Oberschenkel (Vorne)">
                        <label class="form-check-label" for="Oberschenkel (Vorne)">Oberschenkel (Vorne)</label>
                    </div> 
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Oberschenkel (Seite)" type="checkbox" name="bodyPart[]" value="Oberschenkel (Seite)">
                        <label class="form-check-label" for="Oberschenkel (Seite)">Oberschenkel (Seite)</label>
                    </div>
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Schienbein" type="checkbox" name="bodyPart[]" value="Schienbein">
                        <label class="form-check-label" for="Schienbein">Schienbein</label>
                    </div>
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Wade" type="checkbox" name="bodyPart[]" value="Wade">
                        <label class="form-check-label" for="Wade">Wade</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Schienbein + Wade / Half leg sleeve" type="checkbox" name="bodyPart[]" value="Schienbein + Wade / Half leg sleeve">
                        <label class="form-check-label" for="Schienbein + Wade / Half leg sleeve">Schienbein + Wade / Half leg sleeve</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Füße" type="checkbox" name="bodyPart[]" value="Füße">
                        <label class="form-check-label" for="Füße">Füße</label>
                    </div> 
                </div>
            </div> 
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="designType">Designtyp</label>
                    <div class="form-check"><input placeholder="" class="form-check-input" id="Flash" type="radio" name="designType[]" value="Flash">
                        <label class="form-check-label" for="Flash">Flash</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Custom" type="radio" name="designType[]" value="Custom">
                        <label class="form-check-label" for="Custom">Custom</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Nicht bekannt" type="radio" name="designType[]" value="Nicht bekannt">
                        <label class="form-check-label" for="Nicht bekannt">Nicht bekannt</label>
                    </div> 
                </div>
            </div> 
            <div class="col-12">
                <div class="mb-3">
                    <label class="mb-0 form-label" for="preferredDay">Präferierter Tag</label>
                    <div class="mb-2">
                        <small class="form-text text-muted">Gerne können mehrere Tage ausgewählt werden</small>
                    </div> 
                    <div class="form-check"><input placeholder="" class="form-check-input" id="Montag" type="checkbox" name="preferredDay[]" value="Montag">
                    <label class="form-check-label" for="Montag">Montag</label>
                </div>  
                <div class="form-check">
                    <input placeholder="" class="form-check-input" id="Dienstag" type="checkbox" name="preferredDay[]" value="Dienstag">
                    <label class="form-check-label" for="Dienstag">Dienstag</label>
                </div>  
                <div class="form-check">
                    <input placeholder="" class="form-check-input" id="Mittwoch" type="checkbox" name="preferredDay[]" value="Mittwoch">
                    <label class="form-check-label" for="Mittwoch">Mittwoch</label>
                </div>
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Donnerstag" type="checkbox" name="preferredDay[]" value="Donnerstag">
                        <label class="form-check-label" for="Donnerstag">Donnerstag</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Freitag" type="checkbox" name="preferredDay[]" value="Freitag">
                        <label class="form-check-label" for="Freitag">Freitag</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Samstag" type="checkbox" name="preferredDay[]" value="Samstag">
                        <label class="form-check-label" for="Samstag">Samstag</label>
                    </div> 
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Sonntag" type="checkbox" name="preferredDay[]" value="Sonntag">
                        <label class="form-check-label" for="Sonntag">Sonntag</label>
                    </div> 
                </div>
            </div> 
            <div class="col-12">
                <div class="mb-3"><label class="form-label" for="preferredDaytime">Präferierte Tageszeit</label>
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Vormittags" type="checkbox" name="preferredDaytime[]" value="Vormittags">
                        <label class="form-check-label" for="Vormittags">Vormittags</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Mittags" type="checkbox" name="preferredDaytime[]" value="Mittags">
                        <label class="form-check-label" for="Mittags">Mittags</label>
                    </div>  
                    <div class="form-check">
                        <input placeholder="" class="form-check-input" id="Nachmittags" type="checkbox" name="preferredDaytime[]" value="Nachmittags"> 
                        <label class="form-check-label" for="Nachmittags">Nachmittags</label>
                    </div> 
                </div>
            </div> 
            <div class="col-12"><div class="mb-3">
                <label class="form-label" for="otherInfo">Weitere Angaben zum Projekt</label>
                <div class="form-check">
                    <input placeholder="" class="form-check-input" id="Ganztägige Session (Große Projekte / Ganze Körperteile)" type="checkbox" name="otherInfo[]" value="Ganztägig">
                    <label class="form-check-label" for="Ganztägige Session (Große Projekte / Ganze Körperteile)">Ganztägige Session (Große Projekte / Ganze Körperteile)</label>
                </div>  
                <div class="form-check">
                    <input placeholder="" class="form-check-input" id="Mehrere Tattoos" type="checkbox" name="otherInfo[]" value="Mehrere Tattoos"> 
                    <label class="form-check-label" for="Mehrere Tattoos">Mehrere Tattoos</label>
                </div> 
            </div>
        </div> 
        <div class="col-12">
            <div class="mb-3">
                <label class="mb-0 form-label" for="recurringCustomer">Wiederkehrender Kunde?</label>
                <div class="mb-2">
                    <small class="form-text text-muted">Falls ja: Bitte Design angeben</small>
            </div> 
            <textarea id="recurringCustomer" class="form-control" name="recurringCustomer" placeholder=""></textarea>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <div class="mb-3">
            <div class="form-check"><input placeholder="" class="form-check-input" id="Ich stimme den folgenden Bedingnungen zu:" type="checkbox" name="agreementAccepted" value="aggreementAccepted">
                <label class="form-check-label" for="Ich stimme den folgenden Bedingnungen zu:">Ich stimme den folgenden Bedingnungen zu:</label>
            </div>
        </div>
        <ul class="pl-1">
            <li class="fw-bold">Ich bin über 18 Jahre alt.</li> 
			<li class="fw-bold">Ich bin mir bewusst eventuelle Ansprüche auf Vorkassen-Zahlungen zu verlieren, sofern ich den gewählten Termin später als 48 Stunden vor Beginn absage.</li> 
			<li class="fw-bold">Ich bin damit einverstanden während des Termins eine medizinische Mund-Nasen-Bedeckung zu tragen</li>
        </ul>
    </div> 
    <div class="col-12">
        <div class="mb-3">
            <button class="btn btn-dark btn-block mb-5" type="submit">Senden</button>
        </div>
    </div>
</div>
</form>
  
</div>