<body>
    <img src="assets/img/tattoo.jpg">
    <div class="wrapper">
        <div class="title">{{'COPYRIGHT.TITLE' | translate}}</div>
        <div class="copyright-text">
        <h4>{{'COPYRIGHT.GENERAL_TITLE' | translate}}</h4>
        <p>
            {{'COPYRIGHT.GENERAL_1' | translate}}
        </p>
        <p>
            {{'COPYRIGHT.GENERAL_2' | translate}}
        </p>
        <p>
            {{'COPYRIGHT.GENERAL_3' | translate}}
        </p>
        <h4>{{'COPYRIGHT.USAGE_TITLE' | translate}}</h4>
        <p>
            {{'COPYRIGHT.USAGE_1' | translate}}
        </p>
        <p>
            {{'COPYRIGHT.USAGE_2' | translate}}
        </p>
        <h4>{{'COPYRIGHT.COOKIES_TITLE' | translate}}</h4>
        <p>
            {{'COPYRIGHT.COOKIES_1' | translate}}
        </p>
        <p>
            {{'COPYRIGHT.COOKIES_2' | translate}}
        </p>
        <h4>{{'COPYRIGHT.INFO_TITLE' | translate}}</h4>
        <p>
            {{'COPYRIGHT.INFO_1' | translate}}
        </p>
        <p>
            {{'COPYRIGHT.INFO_2' | translate}}
        </p>
        <h4>{{'COPYRIGHT.ABOUT_US_TITLE' | translate}}</h4>
        <p>
            {{'COPYRIGHT.ABOUT_US_1' | translate}}
        </p>
    </div>
    </div>
</body>