body{
    position: relative;
    top: 0;
img{
    height: 50rem;
    width: 100%;
    z-index:1;
    position: relative;
    top: 0;

}

.wrapper{
    text-align: center;
    position: absolute;
    top: 3rem;
    left:0;
    right:0;
    z-index:2;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    .title{
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    .first{
        line-height: 3rem;
        margin-bottom: 2rem;
        .mailto{
            text-decoration: none;
            color:white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    button{
        height: 5rem;
        width: 14rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
}