<body>
    <img src="assets/img/tattoo.jpg">
    <div class="wrapper">
        <div class="title">{{'IMPRINT.TITLE' | translate}}</div>
        <p class="first">
            {{'IMPRINT.NAME' | translate}} <br>
            {{'FOOTER.CONTACT.STREET' | translate}} <br>
            {{'FOOTER.CONTACT.PLACE' | translate}} <br>
        </p>
        <p class="first">
            {{'FOOTER.CONTACT.EMAIL' | translate}} <br>
            {{'FOOTER.CONTACT.PHONE' | translate}}
        </p>
        <button type="button" class="btn btn-light"  routerLink="/contact"  routerLinkActive="active"> {{'IMPRINT.APPOINTMENT' | translate}} </button>
    </div>
</body>