<div class="home">
    <div class="left"> 
    <h1>
            {{'HOME.HELLO' | translate }}
        </h1>
        <br>
        <p>
            {{'HOME.ALIAS' | translate }} <br>

            {{'HOME.DO' | translate }} 
        </p>

        <button type="button" class="btn btn-dark" routerLink="/contact"  routerLinkActive="active"> {{'HOME.BUTTON' | translate}} </button>

    </div>
    <div id="right">
     <!--TODO:   Hier kann evtl der Instagram feed displayed werden ? 
        Dafür muss die Website aber öffentlich sein. Siehe Instagram Dev Doku. -->
    </div>
</div>

