<div class="home">
    <div class="left">
        <h1>
            {{'HOME.HELLO' | translate }}
        </h1>
        <br>
        <p>
            {{'HOME.ALIAS' | translate }} <br>

            {{'HOME.DO' | translate }} <br>
            {{'HOME.LINK' | translate }}
            <a href="https://www.instagram.com/junkie.tattoos/?hl=de" class="link">
                {{'HOME.INSTA' | translate }}
            </a> <br> <br>
            {{'HOME.APPOINTMENT' | translate }}

        </p>

        <button type="button" class="btn btn-dark" routerLink="/contact" routerLinkActive="active"> {{'HOME.BUTTON' |
            translate}} </button>

    </div>
    <!-- Maybe use curator.io as instafeed-->
</div>